@(quizId: Int, question: String, noEntryTeams: List[(Int, String)])

@main("未登録チーム一覧") {
    <div class="container">
        <div style="font-size: 500%">
            問題：<br>
            @question
        </div>
        <ul class="list-group">
        @for(team <- noEntryTeams) {
            <li class="list-group-item" style="font-size: xx-large">@team._2</li>
        }
        </ul>
        <a href="@routes.QuizResultController.showQuizAnswerMaruBatsu(quizId)" style="font-size: 500%">答え</a>
    </div>
} <meta http-equiv="Refresh" content="2">
