@(quizId: Int, question: String, form: Form[QuizResultForm.Data], postUrl: Call)(implicit request: RequestHeader, messages: Messages)

@main("⭕❌クイズ ⭕登録") {
    <script>
            $(document).ready( function(){
                $('input:visible').eq(0).focus();
            });
    </script>
    @request.flash.data.map{ case (name, value) =>
    <div>@name: @value</div>
    }

    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }


    <div class="container">
        <h2>問題：@question → 答え：⭕</h2>
        @helper.form(postUrl) {
            <div class="form-group">
                @helper.inputText(form("teamId"), '_label -> "チームID", 'class -> "form-control")
            </div>
            <input type="hidden" name="quizId" value="@quizId" />
            <input type="hidden" name="answer" value="◯" />
            <button type="submit" class="btn btn-primary">チーム登録</button>
        }
    </div>

}
