@(message: String)

@mainWithNav("2017 博多区 中学生クイズ大会") {
    <style>
            header {
                margin: 100px 20px 80px;
                text-align: center;
                border-bottom: 1px solid #e1e1e1;
            }
    </style>
    <header>
        <span style="font-size: 800%">
            2017 博多区
        </span>
        <br>
        <span style="font-size: 1100%">
            中学生クイズ大会
        </span>
        <br>
        <br>
        <span style="font-size: 500%">
            博多区最強の中学生は誰だ?!
        </span>
    </header>
}
